body{

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(94, 43, 56);
}
#titulo{
    color: white;
}
.coluna div{
    padding: 25px;
}
.coluna{
    padding-left: 5px;
    padding-right: 5px;
}
section{
    background-color: rgb(220, 66, 66);
    display: flex;
    flex-direction: row;
    border: 6px solid black;
}
div{
    font-size: 40px;
}
.certo{
    background-color: green;
}
.errado{
    background-color: red;
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left:690px ;
    border: 0px solid black;
    width: 300px;
    height: 400px;
    background-color: transparent;
}
.acerto h1{
    font-size: 25px;

    color: white;
}
.acerto img{
    width: 80px;   
    height: 80px;
}
.acerto{
    display: flex;
    height: 80px;
    padding: 6px;
    border-bottom: 3px solid black;
    transition: 1s;
}